@using Epam.XT.SchoolTestingSystem.WebPL.Models;
@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    Auth authSession = new Auth();
    PageData["Title"] = "Страница входа";
}
@if (IsPost)
{
    var login = Request["login"];
    var password = Request["password"];
    
    if (authSession.CanLogin(login, password))
    {
        FormsAuthentication.SetAuthCookie(login, createPersistentCookie: true);
        Response.Redirect("/Pages/index");
    }
}
<div class=" container">   
    <div class="row">
        <div class="col-6 offset-3 SignBlock">
            <header class="text-center">
                <h3>Вход в систему</h3>
            </header>
            <form method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Логин</label>
                    <input name="login" required type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Введите логин">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Пароль</label>
                    <input name="password" required type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите пароль">
                </div>
                <div class="col-12 col-sm-6 offset-sm-3 buttonDescription">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
                <div class="col-12 col-sm-6 offset-sm-3  buttonDescription">
                    <button type="button" id="Register" class="btn btn-primary">Регистрация</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
@section ScriptsAndStyles{
    <link href="~/Content/SignInAndReg.css" rel="stylesheet" />
    }
