@using Epam.XT.SchoolTestingSystem.Dependencies;
@using Epam.XT.SchoolTestingSystem.Common.Entities;
@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    PageData["Title"] = "Удаление теста";
    var _testBLL = DependencyResolver.Instance.testBLL;
    Guid testId;
    bool isGuidParamValid = true;
    bool isDeleted = false;
    if (!(isGuidParamValid = Guid.TryParse(Request.QueryString["Id"], out testId)))
    {
        isGuidParamValid = false;
    }
    else
    {
        isDeleted = _testBLL.DeleteTest(testId);
    }
}
@if (!isGuidParamValid)
{
    @RenderPage("~/Pages/Partial/_Error.cshtml", new { info = "Параметры запроса имеют некорректный формат", param =Request.Url+ " Пользователь пытался изменить GET запрос" });
}
else if (isDeleted)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-3">
                <label>Запись успешно удалена</label>
                <div class="buttons">
                    <div class="col-xs-12 col-sm-6">
                        <a href="~/Pages/index.cshtml" class="btn btn-primary btn active text-center" role="button" aria-pressed="true">Перейти на главную страницу</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @RenderPage("~/Pages/Partial/_Error.cshtml", new { info = string.Format("Тест не был удален"), param = testId });
}




