@using Epam.XT.SchoolTestingSystem.Dependencies;
@using Epam.XT.SchoolTestingSystem.Common.Entities;
@{
    Layout = "~/Pages/Layouts/_BasicLayout.cshtml";
    var _testBLL = DependencyResolver.Instance.testBLL;
    var _userBLL = DependencyResolver.Instance.userBLL;
    string Description = Request.QueryString["Description"];
    Test test = _testBLL.GetTestParamsByDescription(Description);
    bool isTestAlreadyDone = false;
    bool testExist = _testBLL.isTestAlreadyExist(Description);
    if (testExist)
    {
        User user = _userBLL.GetUserByLogin(User.Identity.Name);
        isTestAlreadyDone = _testBLL.IsTestAlreadyDone(user.Id, test.Id);
    }
}
@if (!testExist)
{
    @RenderPage("~/Pages/Partial/_Error.cshtml", new { info = string.Format("Тест с описанием {0} не существует", Description) });
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-3">
                <ul class="list-group">
                    <li class="list-group-item">Название теста: @test.Description</li>
                    <li class="list-group-item">Время на выполнение: @test.TimeToPass</li>
                    <li class="list-group-item">Количество вопросов: @test.NumberOfQuestions</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="btn-group col-sm-8 offset-2 mt-3" role="group" aria-label="Basic example">
                @if (isTestAlreadyDone)
                {
                    <label>Вы уже выполняли этот тест</label>
                    <a class="btn btn-primary" href="~/Pages/index.cshtml" role="button">Перейти на начальную страницу</a>
                }
                else
                {
                    <a class="btn btn-primary" href="~/Pages/Tests/TestExecution.cshtml?Description=@test.Description" role="button">Начать выполнение теста</a>
                }
                @if (User.IsInRole("Teacher"))
                {
                    <a class="btn btn-primary" href="~/Pages/Tests/TestUpdating?Description=@test.Description" role="button">Редактировать тест</a>
                    <a class="btn btn-primary" href="~/Pages/Tests/TestDeletion?Id=@test.Id" role="button">Удалить тест</a>
                }
            </div>
        </div>
    </div>
}